@use "../abstracts/variables" as *;
@use "sass:map";

.category-container {
    --gap: 1.5rem;
    flex-grow: 1;
    flex-direction: column;
    padding-bottom: 5rem;
    max-width: 65rem;

    @media (min-width: map.get($media-breakpoints, "tablet")) {
        margin-inline: auto;
    }
}

.category-title {
    padding-inline: 1.5rem;
    flex-grow: 1;
}
