@use "../abstracts/variables" as *;
@use "sass:map";

.checkout-container {
    flex-direction: column;
    --gap: 3rem;

    @media (min-width: map.get($media-breakpoints, "tablet")) {
        flex-direction: row;
    }
}

.form-container {
    flex-direction: column;
    max-width: 50rem;
    flex-grow: 1;
    order: 1;

    @media (min-width: map.get($media-breakpoints, "tablet")) {
        order: 0;
    }
}

.checkout-title {
    flex-grow: 1;
    text-align: center;
}

.checkout-form {
    flex-direction: column;
    --gap: 2rem;
}

.form-section {
    --gap: 1rem;
    flex-direction: column;

    &__inputs-container {
        --gap: 0.5rem;
        flex-direction: column;

        @media (min-width: map.get($media-breakpoints, "mobile")) {
            flex-direction: row;
        }

        &--column {
            flex-direction: column;
        }
    }

    &__text-input {
        border-radius: 0.5rem;
        border: 1px solid map.get($colors, "neutral-dark");
        padding: 0.75rem 0.5rem;
        transition: border-color 0.1s map.get($animation-types, "default"),
            outline 0.1s map.get($animation-types, "default");

        &:focus-visible {
            border-color: map.get($colors, "primary-dark");
            outline: 1px solid map.get($colors, "primary-dark");
        }

        &:invalid[focused="true"] {
            border-color: map.get($colors, "error");
            outline: 1px solid map.get($colors, "error");

            & + .form-section__text-input-error {
                display: block;
            }
        }

        &-error {
            display: none;
        }
    }

    &__text-label {
        &:not(:first-child) {
            margin-top: 0.5rem;
        }
    }

    &__radio-input-container {
        width: 100%;
    }

    &__radio-label {
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 0.5rem;
        border: 1px solid map.get($colors, "neutral-dark");
        padding: 1rem;
        cursor: pointer;
        transition: border-color 0.1s map.get($animation-types, "default"),
            outline 0.1s map.get($animation-types, "default"),
            color 0.1s map.get($animation-types, "default");

        &:hover {
            border-color: map.get($colors, "primary-dark");
        }

        &.active {
            color: map.get($colors, "primary-dark");
            border-color: map.get($colors, "primary-dark");
            outline: 1px solid map.get($colors, "primary-dark");
        }

        &.active .form-section__radio-label-icon {
            color: map.get($colors, "primary-dark");
        }

        &-icon {
            transition: color 0.1s map.get($animation-types, "default");
            color: map.get($colors, "neutral-dark");
        }

        &--payment {
            flex-direction: row;
        }
    }

    &__radio-input {
        display: none;
    }
}

.checkout-summary {
    --gap: 1rem;
    order: 0;
    flex-direction: column;

    @media (min-width: map.get($media-breakpoints, "tablet")) {
        order: 1;
        width: min(20rem, 30vw);
    }

    & > .cart-items {
        padding-bottom: var(--gap);
        border-bottom: 1px solid map.get($colors, neutral);

        & .cart-item__link {
            flex-grow: 1;
        }
    }

    &__costs {
        flex-direction: column;
        padding-bottom: var(--gap);
        border-bottom: 1px solid hsl(220deg, 14%, 75%);
    }

    &__cost,
    &__total-container {
        justify-content: space-between;
    }
}
