@use "../abstracts/variables" as *;
@use "sass:map";

.main-container {
    --gap: 1.5rem;
    flex-direction: column;

    &--checkout {
        padding-inline: 1.5rem;
    }
}

@media (min-width: map.get($media-breakpoints, "mobile")) {
}

@media (min-width: map.get($media-breakpoints, "tablet")) {
    .main-container {
        padding-inline: 4rem;
        margin-inline: auto;
        max-width: 90rem;
        margin-top: 4rem;

        &--flex-row {
            flex-direction: row;
        }

        &--checkout {
            max-width: 50rem;
        }
    }
}
