@use "../abstracts/variables" as *;
@use "sass:map";

.product-page-container {
    --gap: 1.5rem;
    flex-direction: column;
}

@media (min-width: map.get($media-breakpoints, "mobile")) {
}

@media (min-width: map.get($media-breakpoints, "tablet")) {
    .product-page-container {
        --gap: 6vw;
        flex-direction: row;
    }
}

@media (min-width: map.get($media-breakpoints, "desktop")) {
    .product-page-container {
        --gap: 7rem;
    }
}
